
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('//fonts/HelveticaNowDisplay.eot');
    src: url('///fonts/HelveticaNowDisplay.eot?#iefix') format('embedded-opentype'),
    url('///fonts/HelveticaNowDisplay.woff2') format('woff2'),
    url('//fonts/HelveticaNowDisplay.woff') format('woff'),
    url('//fonts/HelveticaNowDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
